Options -Indexes

<IfModule mod_rewrite.c> 
  RewriteEngine on

RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

# deal with admin first

RewriteRule ^admin/assets/(.*)$ backend/web/assets/$1 [L]
RewriteRule ^admin/css/(.*)$ backend/web/css/$1 [L]

RewriteCond %{REQUEST_URI} !^/backend/web/(assets|css)/
RewriteCond %{REQUEST_URI} ^/(admin) 
RewriteRule ^.*$ backend/web/index.php [L]

  RewriteCond %{REQUEST_URI} !^public

  RewriteRule ^admin(.*)$ backend/web/$1 [L] 
  
  
  # if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.php


  
</IfModule>


# Deny accessing below extensions
<Files ~ "(.json|.lock|.git)">
Order allow,deny
Deny from all
</Files>

# Deny accessing dot files
RewriteRule (^\.|/\.) - [F]

# Use PHP 7.0 as default
AddHandler application/x-httpd-php70 .php
